{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p> By <a href="{{ post.author.get_absolute_url }}">
    	{% if post.author.gender == "M" %}
            Mr.
        {% elif post.author.gender == "F" %}
            Mrs.
        {% endif %} 
    	{{ post.author }}</a></p>
    <p>Posted on {{ post.time }}</p>
    {% comment %} 
        linebreaks turns linebreaks in the database into <br>s and </p>s 
    {% endcomment %}        
    <p>{{ post.post|linebreaks }}</p>
{% endblock %}
